---
title: Thomas Vo
---

<!-- Add your site or application content here -->
<div class="header">Thomas Vo</div>
<div class="details">
  <div class="title">
    Web Application Developer<br/><br/>
    thomasttvo@gmail.com
  </div>

</div>

<div class="logo" id="logo"></div>



<script src="http://www.html5canvastutorials.com/libraries/three.min.js"></script>
<script >
  $(function(){
      // revolutions per second
      var angularSpeed = 0.2;
      var lastTime = 0;

      // this function is executed on each animation frame
      function animate(){
          // update
          var time = (new Date()).getTime();
          var timeDiff = time - lastTime;
          var angleChange = angularSpeed * timeDiff * 2 * Math.PI / 1200;
          cube.rotation.y -= angleChange;
          cube.rotation.z -= angleChange;
          lastTime = time;

          // render
          renderer.render(scene, camera);

          // request new frame
          window.requestAnimationFrame(function(){
              animate();
          });
      }

      // renderer
      var renderer = new THREE.WebGLRenderer();

      // camera
      var camera = new THREE.PerspectiveCamera(45, 1, 1, 1000);
      camera.position.z = 500;

      // scene
      var scene = new THREE.Scene();

      // cube
      var cube;

      var init = function(){
          var width = window.innerWidth/4.5;
          var height = window.innerHeight/2.3;
          renderer.setSize(width,height);
          camera.aspect = width/height;
          camera.updateProjectionMatrix();
          scene.remove(cube)
          var oldCube = cube;
          cube = new THREE.Mesh(new THREE.OctahedronGeometry(width/2.5), new THREE.MeshBasicMaterial());
          cube.overdraw = true;
          cube.material.color = 0xffffff;
          cube.material.wireframe = true;
          if(oldCube) {
              cube.rotation.x = oldCube.rotation.x;
              cube.rotation.y = oldCube.rotation.y;
              cube.rotation.z = oldCube.rotation.z;
          }
          scene.add(cube);
      };

      $(window).resize(init);
      init();
      document.getElementById('logo').appendChild(renderer.domElement);



      // start animation
      animate();
  })

</script>